<%= form_with(model: user, local: true ,url: choose_new_or_edit) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :メールアドレス %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :パスワード %>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :パスワード（確認）%>
    <%= form.password_field :password_confirmation %>
  </div>

  <div class="field">
    <%= form.label :face %>
    <%= image_tag(@user.face.url) if @user.face && @user.face.url %>
    <%= form.file_field :face %>
    <%= form.hidden_field :face_cache %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
