<div class="onstgram">
  <% @pictures.each do |picture| %>
    <article class="picture">
      <p>タイトル:<%= picture.title %></p>
      <%= picture.content %>
      <br>
      <%= image_tag(picture.image.url) %>
      <br>
      <%= picture.user.name %>
      <br>
      <% if logged_in? %>
        <%= link_to '詳細', picture %>
        <% if picture.user.id == current_user.id %>
          <%= link_to '編集', edit_picture_path(picture) %>
          <%= link_to '削除', picture, method: :delete, data: { confirm: '本当に削除していいですか' } %>
        <% end %>
      <% end %>
    </article>
  <% end %>
</div>
